<!DOCTYPE html>
{% load forms_builder_tags %}
{% load static %}

<html lang="ru">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Заявление на вступление в ОСМУСС</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="col-md-8 offset-md-2">
		{% render_built_form id=1 %}
	</div>
</body>
</html>